.Banner {
  background-color: #FF6701;
  color: var(--primary-color);
  height: 210px;
  display: flex;
  align-items: center;
}

.BannerText {
  padding: 0 30px;
}

.BannerHeaderText {
  font-size: 3.2rem;
}