.ArticleItem {
  display: flex;
  flex-direction: row;
  /* padding: 20px 0; */
  border-bottom: 1px solid var(--border-color);
}
.ArticleItem:hover {
  background-color: var(--hover-color);
}

.ArticleItem a {
  flex: 2;
  padding: 20px 0;
}

.ArticleTitle {
  display: flex;
}
.ArticleItem a .ArticleAuthor {
  margin: 0 10px;
  color: var(--secondary-text-color);
}

.ArticlePubdate {
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.ArticleActions {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.Icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.TrashIcon {
  background-image: url('../../images/trash.png');
}