:root {
  --primary-text-color: #333;
  --secondary-text-color: #999;
  --primary-color: #fff;
  --border-color: #ccc;
  --hover-color: #fafafa;
  --default-font-size: 13pt;
  --default-font: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: var(--default-font-size);
  font-family: var(--default-font);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}